<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Octopus, <%= @user.name %>!</h1>

    <p>
      Your account is now ready to go, you just need to set your password. Please follow the link below.
      <br><br><%= link_to 'Set password', edit_password_url(@user, reset_password_token: @token) %>
    </p>

    <p>See you soon!</p>

  </body>
</html>
