<h2>All</h2>
<ul>
  <% @all_sites.each do |site| %>
    <li><%= site.name %></li>
  <% end %>
</ul>

<% @most_popular_tags.each do |tag_name, sites| %>
  <h2><%= tag_name %></h2>
  <ul>
    <% sites.each do |site| %>
      <li><%= site.name %></li>
    <% end %>
  </ul>
<% end %>
