<% if Site.count != 0 %>
  <h2>All</h2>
  <ul>
    <% @all_sites.each do |site| %>
      <li><%= link_to site.name, site_path(site) %></li>
    <% end %>
  </ul>

  <% @most_popular_tags.each do |tag_name, sites| %>
    <h2><%= tag_name %></h2>
    <ul>
      <% sites.each do |site| %>
        <li><%= link_to site.name, site_path(site) %></li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <div>
    <% if can? :create, Site %>
      <%= link_to 'Add sites', new_site_path %>
    <% else %>
      Please add sites
    <% end %>
  </div>
<% end %>
