<div class="container">
  <h1 style="padding-left:25px;margin-bottom:0px !important;">Edit <%= @site.name %></h1>
  <%= form_for @site, url: site_path do |form| %>
    <%= render "form", form: form %>
  <% end %>
  <%= link_to 'Back', :back %>
</div>
